::placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

.input {
  background: #ffffff;
  border-radius: 0.25rem;
  border: var(--color-border) 1px solid;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.7em 1em;
  width: 100%;
}
