.button {
  background: var(--color-primary);
  border-radius: 0.25rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding: 0.75em 1.5em;
  position: relative;
  text-decoration: none;
  transition: background 0.1s ease-in-out;
}

.button:hover {
  background: var(--color-primary-hover);
}

.button:focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 3px;
}
