.layout {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  margin: auto;
  max-width: 1280px;
  padding: 0 1.5rem;
}

.layout + .layout {
  margin-top: 4rem;
}

.layout.small-gap {
  gap: 1.5rem 4rem;
}

@media (min-width: 60rem) {
  .layout {
    grid-template-columns: inherit;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}
