.snippet {
  background: var(--color-tertiary);
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  display: grid;
  gap: 1.5rem;
  grid-template-rows: auto 1fr;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2rem;
  position: relative;  
  z-index: 1;
}

.snippet:focus-within {
  outline: 2px dashed var(--color-primary);
  outline-offset: 3px;
}

.snippet[data-animate]::after {
  content: "";
  animation: puff-out .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  background: var(--color-secondary);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.snippet-header {
  display: flex;
  align-items: center;
  gap: .5em;
}

.snippet-header span {
  background: var(--color-primary);
  border-radius: .25em;
  color: white;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  padding: .3em .5em;
  text-transform: uppercase;
}

.snippet-header button {
  background: none;
  display: block;
  font-size: 1rem;
}

.snippet-body code {
  border: none;
  display: block;
  font-family: monospace;
  font-size: 1rem;
  height: 100%;
  line-height: 1.5em;
  outline: none;
  user-select: all;
}

@keyframes puff-out {
  0% {
    transform: scale(.6);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}