:root {
  --color-primary: #f12b24;
  --color-primary-hover: #dd2822;
  --color-secondary: #212121;
  --color-tertiary: #f0f0f0;
  --color-border: #757575;
  --color-placeholder: #979797;
}

::placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  min-height: 100vh;
  gap: 4rem;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  padding: 2rem 1.5rem;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

/**
 * Global
 */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: min-content;
  gap: clamp(3rem, 5vw, 5rem) clamp(3rem, 4vw, 6rem);
  margin: auto;
  width: clamp(0rem, 85vw, 80rem);
}

.content > * + * {
  margin-top: 2rem;
}
